:root{
    --branco: #ffffff;
    --cor-de-fundo:#3bdddd3f;
    --laranja: #eb9b00;
    --fonte-principal:"Poppins"; 

}
body{
background-color: var(--cor-de-fundo);
font-family: 'Courier New', Courier, monospace;
font-size: 16px;
font-weight: 400;
}

.cabeçalho-menu-hamburguer{
 width: 24px;
 height: 24px;
 background-image: url(./img/menu.svg);
 background-repeat: no-repeat;
 background-position: center;
 display: inline-block;

}
 
.cabeçalho{
   background-color: var(--branco);
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: relative;
}

.container{
    display: flex;
    align-items: center;

}

.container_imagem{
    padding: 1em;
    margin: 1em;
    width: 2em;


}
.container_botão:checked ~.lista-menu{
display: block;
}

.lista-menu_titulo,
.lista-menu_item{
  padding: 1em;
  background-color: var(--branco);

}
 
.lista-menu-link {

  -webkit-background-clip: text;
  background-clip: text;
  text-transform: uppercase;

}

.lista-menu{
   display: inline-block;
   position: absolute;
   top: 100%;
   width: 20vw;
}

.container_botão{
     display: none;

}