:root{
    --branco: #ffffff;
--cor-de-fundo:#3bdddd3f;

}
body{
background-color: var(--cor-de-fundo)

}

.cabeçalho-menu-hamburguer{
 width: 24px;
 height: 24px;
 background-image: url(./img/menu.svg);
 background-repeat: no-repeat;
 background-position: center;
 display: inline-block;

}
 
.cabeçalho{
   background-color: var(--branco);
   display: flex;
   justify-content: space-between;
   align-items: center;

}

.container{
    display: flex;
    align-items: center;

}

.container_imagem{
    padding: 1em;
    margin: 1em;
    width: 2em;


}